table.daac-calendar {
	border-collapse:collapse;
	width:100%;
}
table.daac-calendar daac-calendar-caption {
	text-align:center;	
}
table.daac-calendar td.daac-calendar-control-next {
	text-align:right;	
}
table.daac-calendar thead td.daac-calendar-caption {
	text-align:center;
	font-weight:bold;
}
table.daac-calendar th {
	color:#333;
	width:14.2%;
}
table.daac-calendar tbody td {
	width:14.2%;
	background-color:#fff;
	background-repeat:repeat-x;
	background-position:bottom left;
	text-align:right;
	font-size:0.8em;
	color:#888;
	padding:0 0.8em 2.2em;
	border:1px solid #DFDFDF;
}
#daac-legend {
	margin:20px 0;
	font-size:0.9em;
}
#daac-legend dt, #daac-legend dd {
	float:left; display:inline;
}
#daac-legend dt {
	width:10px; height:10px;
	border:1px solid #666;
	background-repeat:repeat;
	margin:5px 0 0 0
}
#daac-legend dd {
	padding:0 10px 0 10px;
}

#daac_calendar_prev, #daac_calendar_next {
	cursor:pointer;
}
table.daac-calendar tbody td.daac-calendar-booked, .daac-calendar-booked {
	background:#E5F1F7;
}
table.daac-calendar tbody td.daac-calendar-today {
	/*background:#F3D2C6;*/
}
table.daac-calendar tbody td.daac-calendar-unavailable {
	background:#eaccdf;
}
table.daac-calendar tbody td.daac-calendar-active {
	font-weight:bold;
	text-decoration:underline;
	color:#000;
}
table.daac-calendar tbody td.daac-calendar-day {
	cursor:pointer;
}
table.daac-calendar tbody td.daac-cell-hover {
	background:#efefef;
}
table.daac-calendar tbody td a {
	display:block; width:100%; height:100%;
}
table.daac-calendar td.daac-calendar-cell-pad {
	background:#efefef;
}
div#daac-legend {
	margin:10px 0;
}
div#daac-legend .legend-item {
	overflow:hidden;
	height:20px;
	line-height:15px;
	vertical-align:middle;
}
div#daac-legend .legend-item span {
	float:left;
	width:12px; height:12px;
	margin-right:10px;
	border:1px solid #999;
	text-indent:-9999px;
}
div#daac-legend .legend-item span.available {
	background:#fff;
}
div#daac-legend .legend-item span.bookings {
	background:#E5F1F7;
}
div#daac-legend .legend-item span.today {
	/*background:#F3D2C6;*/
}
div#daac-legend .legend-item span.unavailable {
	background:#eaccdf;
}
#daac-note {
	margin:10px 0 0 0;
}
.daac-location-post {
	margin-bottom:2em;
}
.daac-location-post #daac-note {
	background:#efefef;
	padding:10px;
}
#daac-available-slots-async {
	margin-bottom:20px;
}
#daac-available-slots-async .advice {
	margin-bottom:0.2em;
}